<section class="section-profile-main" id="section-profile-main">
    <div class="profile-container">
        <div class="profile-header">
            <h1>User Profile</h1>
        </div>
        <div class="profile-content">
            <div class="profile-pic">
                <img src="<%= profilePicURL ? profilePicURL : '/files/system/images/user_blank.png' %>"
                    alt="profile picture" id="profile_picture_url">
                <button onclick="changeProfilePic(event)">Change Profile Picture</button>
            </div>
            <script>
                const changeProfilePic = (e) => {
                    const id = JSON.parse(window.sessionStorage.getItem("session-admin"));

                    if (!id) {
                        window.location.replace(`/error/400/${encodeURIComponent("/admin/views/profile/<%= id %>")}/${encodeURIComponent("sessionStorage has id call (session-admin) as " + id)}`);
                        return
                    }

                    const oldProfilePictureFilename = document.getElementById("profile_picture_url").getAttribute("src").includes("system/images") ? "null" : document.getElementById("profile_picture_url").getAttribute("src").slice(document.getElementById("profile_picture_url").getAttribute("src").lastIndexOf("/") + 1);

                    const updatePPForm = document.createElement("form");
                    updatePPForm.method = "post";
                    updatePPForm.action = `/admin/profile/update-component/profile-picture/${id}/${oldProfilePictureFilename}`;
                    updatePPForm.enctype = "multipart/form-data";
                    updatePPForm.innerHTML = `
                                    <input type="file" name="profile_picture" required="true" id="file-input" />
                        `;
                    updatePPForm.style.display = "none";
                    document.getElementById("section-profile-main").append(updatePPForm);

                    updatePPForm.querySelector("#file-input").click();

                    const fileInput = updatePPForm.querySelector("#file-input")
                    fileInput.addEventListener("change", async (e) => {
                        if ((e.target.value)) {
                            updatePPForm.submit();
                        }
                    });

                }
            </script>

            <div class="profile-info">
                <div class="info">
                    <label for="username">Username:</label>
                    <p id="username">
                        <%= username ? username : "admin_001" %>
                    </p>
                    <button onclick="changeUsername(event)">Change Username</button>
                </div>
                <script>
                    const changeUsername = async (event) => {
                        const id = JSON.parse(window.sessionStorage.getItem("session-admin"));

                        var usernameContainer = document.getElementById("username");
                        usernameContainer.innerText = "";

                        const updateUsernameForm = document.createElement("form");
                        updateUsernameForm.action = `/admin/profile/update-component/username/${id}/<%= v%>`;
                        updateUsernameForm.method = "post";
                        updateUsernameForm.innerHTML = `
                                    <label for='username'>Enter a new username</label>
                                    <input type='text' name='username' id='username' required='true' style="height:30px" />
                                    <button style="margin-top: 1.5ch">Confirm</button>
                        `;

                        usernameContainer.append(updateUsernameForm);
                        updateUsernameForm.style.width = '100%';
                        updateUsernameForm.style.display = 'flex';
                        updateUsernameForm.style.flexFlow = 'column';

                        event.target.style.display = 'none';
                    }
                </script>
                <div class="info">
                    <label for="email">Email:</label>
                    <p id="email">
                        <%= email %>
                    </p>
                    <script>
                        document.getElementById('email').addEventListener('contextmenu', function (event) {
                            event.preventDefault();
                        });
                    </script>
                </div>
                <div class="info">
                    <button onclick="changePassword(event)" id="password-btn-ch">Change Password</button>
                </div>
                <div class="info">
                    <button onclick="logout()" id="logout-btn">Logout</button>
                </div>

                <script defer>
                    const changePassword = async (event) => {
                        const id = JSON.parse(window.sessionStorage.getItem("session-admin"));
                        const email = JSON.parse(window.sessionStorage.getItem("admin_data")).email;

                        try {
                            const url = `/sessions/admin/password-reset?uid=${encodeURIComponent(id)}&uemail=${encodeURIComponent(email)}`;
                            const response = await fetch(url);
                            const data = await response.json();
                            const status = response.status;
                            window.alert(data.message);

                            //terminate user session
                            window.sessionStorage.removeItem("session-admin");
                            window.sessionStorage.removeItem("admin_data");
                            window.sessionStorage.clear();

                            window.location.replace("/admin/signin");



                        }
                        catch (error) { console.error };
                    }
                    const logout = () => {
                        window.sessionStorage.clear();
                        window.location.replace("/admin/signin");
                    }
                    
                </script>
            </div>
        </div>
    </div>
</section>
