<header class="admin-header-container">

    <div class="logo">
        <img src="/files/favicon/" alt="logo">
        <h2>AT-File Server</h2>
    </div>

    <div class="nav">
        <nav>
            <ul>
                <li><a href="/admin/views/dashboard/<%= id %>">Home</a></li>
                <li><a href="/admin/views/uploads/<%= id %>">Upload</a></li>
                <li><a href="/global/views/search/admin/<%= id %>">Search</a></li>
            </ul>
        </nav>
    </div>

    <div class="profile">
        <a href="/admin/views/profile/<%= id %>">
            <div class="profile-image">
                <img src="<%= profilePicURL ? profilePicURL : " /files/system/images/user_blank-2.png" %>"
                alt="profile">
            </div>
            <div class="signin-username">
                <p><%= username ? username : "admin_001" %></p>
            </div>
        </a>
    </div>

</header>